* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This is the section for code resusing */
body {
  font-family: "Times New Roman", Times, serif;
}
.header-options,
.project-card-skills,
.internship-card-skills,
.skills,
.contacts {
  display: flex;
  border: 1px solid purple;
}
#about,
.academic,
footer {
  background-color: none;
  color: purple;
  text-shadow: 1px 1px black;
  /* background: linear-gradient(lightskyblue, white); */
}
/*  */
.header-options,
.header-menu,
#about,
.projects-card,
.project-card-skills,
.internship,
.internship-cards,
.internship-card-skills,
.academic-cards,
.skills,
.contacts {
  display: flex;
}

.header-menu,
.projects-card,
.project-card-skills,
.internship-cards,
.internship-card-skills,
.academic-cards,
.skills,
.contacts {
  justify-content: space-around;
}

header {
  padding: 2px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

#logo-img {
  height: 90px;
  width: 150px;
  margin-right: auto;
}

.header-options {
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
}

.header-menu {
  list-style: none;
  align-items: center;
  margin: 10px auto;
  margin-right: 0;
}

.header-menu-text {
  font-weight: bold;
  text-shadow: 1px 1px orange;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  width: 140px;
  text-align: center;
  padding: 5px;
  font-size: 2rem;
  margin-right: 35px;
}

.header-menu-text a {
  text-decoration: none;
  color: purple;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Times New Roman", Times, serif;
}

/* Adding Responsiveness to the header */
@media screen and (max-width: 1050px) {
  header {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-options {
    width: auto;
    flex-direction: column;
  }

  .header-menu {
    flex-direction: column;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .header-menu-text {
    margin: 5px auto;
    width: 160px;
    text-align: center;
    margin-right: 35px;
  }

  #logo-img {
    margin-left: auto;
    margin-right: auto;
  }
}

.certificateCarousel {
  width: 800px;
  /* height: 600px; */
  padding: 10px;
  align-items: center;
  margin: auto;
}

main {
  align-items: center;
  text-align: center;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: none;
}

.certification {
  background-color: none;
}

#thor {
  background-color: orange;
}

.ci {
  border: 0px solid green;
  /* background-color: rgb(85, 230, 150); */
  width: 980px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ci__element {
  background-color: rgb(207, 153, 52);
  border: 1px solid black;
  padding: 5px;
  width: 900px;
}

img {
  width: 600px;
}

.ci__info__skills {
  padding: 5px;
  background-color: purple;
  border: 1px solid blue;
  list-style: none;
  color: orange;
  font-size: 1.2rem;
}

@media screen and (max-width: 1050px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }
}

footer {
  margin-top: 20px;
  height: auto;
  border: 1px solid white;
}

.footer-text {
  margin: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.contact-type {
  text-align: center;
  width: 200px;
  margin: 10px;
}

.contact-type-icon {
  margin: 10px;
}

.contact-type-detail {
  margin: 10px;
}

.material-symbols-outlined {
  margin: 10px;
}

/* Responsiveness in footer */
@media screen and (max-width: 1050px) {
  body {
    width: auto;
    margin: 0;
  }

  footer {
    width: 480px;
    margin: 2px auto;
  }

  .footer-text {
    font-size: 1rem;
    text-align: center;
    margin: 20px auto;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
  }
}
