* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This is the section for code resusing */

header,
.projects,
.internship {
  /* background: orange; */
}
.header-options,
.project-card-skills,
.internship-card-skills,
.skills,
.contacts {
  display: flex;
  border: 1px solid purple;
}
#about,
.academic,
footer {
  background-color: orange;
  color: purple;
  text-shadow: 1px 1px black;
  /* background: linear-gradient(lightskyblue, white); */
}

.header-options,
.header-menu,
#about,
.projects-card,
.project-card-skills,
.internship,
.internship-cards,
.internship-card-skills,
.academic-cards,
.skills,
.contacts {
  display: flex;
}

.header-menu,
.projects-card,
.project-card-skills,
.internship-cards,
.internship-card-skills,
.academic-cards,
.skills,
.contacts {
  justify-content: space-around;
}

header {
  padding: 2px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

#logo-img {
  height: 90px;
  width: 150px;
  margin-right: auto;
}

.header-options {
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
}

.header-menu {
  list-style: none;
  align-items: center;
  margin: 10px auto;
  margin-right: 0;
}

.header-menu-text {
  font-weight: bold;
  text-shadow: 1px 1px orange;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  width: 155px;
  text-align: center;
  padding: 5px;
  font-size: 2rem;
  margin-right: 35px;
}
.header-menu-text a {
  text-decoration: none;
  color: purple;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* Adding Responsiveness to the header */
@media screen and (max-width: 1050px) {
  header {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-options {
    width: auto;
    flex-direction: column;
  }

  .header-menu {
    flex-direction: column;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .header-menu-text {
    margin: 5px auto;
    width: 100px;
    text-align: center;
    margin-right: 35px;
  }

  #logo-img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* main Section starts here */

@media screen and (max-width: 1050px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}

.project {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}

.project__title {
  border: 1px solid green;
  padding: 10px;
  text-shadow: 1px 1px purple;
  justify-content: center;
  align-items: center;
}

.project__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  width: 980px;
}

.project__img {
  /* border: 1px solid green; */

  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.project-card-skill-card {
  margin: 4px;
  padding: 8px;
  border: 1px solid purple;
  color: purple;
  /* background-color: orange; */
  font-size: 1.8rem;
  border-radius: 5px;
}
img {
  all: unset;
  width: 940px;
  /* border: 5px solid black; */
  align-items: center;
  text-align: center;
}

#sm {
  width: 600px;
}

.project__introduction {
  margin: 10px;
  width: 980px;
}

.project-card-skills {
  border: 1px solid purple;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  padding: 5px;
  width: 980px;
}

/* Project Page Responsiveness */
@media screen and (max-width: 1050px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }

  .project-card-skills,
  .project__introduction,
  .project__gallery {
    width: 90vw;
  }
  img {
    width: 80vw;
  }
  #sm {
    width: 80vw;
  }
  .project-card-skills {
    flex-direction: column;
  }
}

/* Footer Section of the Wwb Page */
footer {
  margin-top: 20px;
  height: auto;
  border: 1px solid white;
}

.footer-text {
  margin: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.contact-type {
  text-align: center;
  width: 200px;
  margin: 10px;
}

.contact-type-icon {
  margin: 10px;
}

.contact-type-detail {
  margin: 10px;
}

.material-symbols-outlined {
  margin: 10px;
}

/* Responsiveness in footer */
@media screen and (max-width: 1050px) {
  body {
    width: auto;
    margin: 0;
  }

  footer {
    width: 480px;
    margin: 2px auto;
  }

  .footer-text {
    font-size: 1rem;
    text-align: center;
    margin: 20px auto;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
  }
}
